[Desktop Entry]
Name=ZimSearch
Comment=Search Zim pages
Exec=/usr/bin/zimsearch.py
Icon=zim
Terminal=false
Type=Application
NoDisplay=true
DBusActivatable=true
